/Ryu.Net/obj
/Ryu.Net/bin
/Ryu.Net.s2d_data/bin
/Ryu.Net.s2d_data/obj
/Ryu.Net.UnitTests/bin
/Ryu.Net.UnitTests/obj
/utils/GenerateTestData/bin
/utils/GenerateTestData/obj
/.vs/Ryu.Net/DesignTimeBuild/.dtbcache.v2
/.vs/Ryu.Net/v16/.suo
/.vs/Ryu.Net/v16/TestStore/0/022.testlog
/.vs/Ryu.Net/v16/TestStore/0/testlog.manifest
/.vs/Ryu.Net/v16/TestStore/0/*.testlog
/.vs/RyuCsharp/DesignTimeBuild/.dtbcache.v2
/.vs/RyuCsharp/v16/.suo
/.vs/RyuCsharp/v16/TestStore/0/023.testlog
/.vs/RyuCsharp/v16/TestStore/0/testlog.manifest
/utils/GenerateTestData/Properties/launchSettings.json
/utils/GenerateSmallerTestData/bin
/utils/GenerateSmallerTestData/obj
/utils/GenerateSmallerTestData/Properties
/Ryu.NET.Benchmark/bin
/Ryu.NET.Benchmark/obj
utils/GenerateSmallerTestData/parse64minus.txt
utils/GenerateSmallerTestData/parse64plus.txt
/utils/GenerateD2STestData/bin
/utils/GenerateD2STestData/obj
