/Ryu.Net/obj
/Ryu.Net/bin
/Ryu.Net.s2d_data/bin
/Ryu.Net.s2d_data/obj
/Ryu.Net.UnitTests/bin
/Ryu.Net.UnitTests/obj
/utils/GenerateTestData/bin
/utils/GenerateTestData/obj
/.vs/Ryu.Net/DesignTimeBuild/.dtbcache.v2
/.vs/Ryu.Net/v16/.suo
/.vs/Ryu.Net/v16/TestStore/0/022.testlog
/.vs/Ryu.Net/v16/TestStore/0/testlog.manifest
/.vs/Ryu.Net/v16/TestStore/0/*.testlog
